In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.84-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.84

In [8]:
import yfinance as yf

In [9]:
# We add .NS at the end as these companies are listed on the NSE(National Stock Exchange)
companies = ['RELIANCE.NS','TCS.NS','HDFCBANK.NS']

#Date range
start = '2018-01-01'
end = '2022-10-25'

data = yf.download(companies,start=start,end=end)['Adj Close']

[*********************100%***********************]  3 of 3 completed

In [10]:
data

            HDFCBANK.NS  RELIANCE.NS       TCS.NS
Date
2018-01-01   899.247742   881.918274  1208.232788
2018-01-02   907.903137   883.275391  1201.656128
2018-01-03   898.350708   886.813660  1205.058472
2018-01-04   901.866211   892.145386  1213.484985
2018-01-05   903.660278   895.005188  1228.144287
...                 ...          ...          ...
2022-10-18  1443.849976  2451.250000  3144.699951
2022-10-19  1458.650024  2493.899902  3121.850098
2022-10-20  1448.800049  2500.600098  3157.300049
2022-10-21  1438.599976  2471.600098  3137.399902
2022-10-24  1461.050049  2479.850098  3161.699951

[1189 rows x 3 columns]